<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="url">
    <title>Mieszkanie na sprzedaż - ul. Lawendowe Wzgórza Jasień, Gdańsk, 40,23 m², inf. u dewelopera, NET-G3_1M01</title>
</head>

<body data-gr-c-s-loaded="true">
<div class="container">
<a id="floatPropertyAddButton" href="/zgloszenie/"
   style="left: 1157px; display: none;">
    <span>Dodaj ogłoszenie</span><span class="plusIcon"></span>
</a>
<div class="properties_count">
    Portal nieruchomości - 599 222 ofert!
</div>
<div class="clear"></div>
<div class="main">
<div class="content">
<div class="propertyWrapper">
<div class="propertyLeft" id="propertyLeft">
<div id="propertyDetailsMenu" class="windowYellowGoogle">
    <div class="sprite2 left"></div>
    <div class="sprite2 ">
        <ul style="display: block; list-style: none;">
            <li
                style="display: block; list-style: none; position: relative; margin: 0px; padding: 0px; float: left;">
                <a title="powrót" href="#" onclick="history.go(-1);return false;"
                   class="toplevel"
                   style="display: block; outline: none; float: left;">
                    Powrót
                </a>
            </li>
            <li
                style="display: block; list-style: none; position: relative; margin: 0px; padding: 0px; float: left;">
                <a href="#" class="property_link toplevel" rel="nofollow" title="drukuj"
                   onclick="myTools.openPopup('https://www.oferty.net/mieszkanie-na-sprzedaz-ul-lawendowe-wzgorza-gdansk-jasien-40m2-2-pokoje-bd,1530727104,wydruk', '_blank', 720, 590);return false;"
                   style="display: block; outline: none; float: left;">
                    Drukuj
                </a>
            </li>
            <li
                style="display: block; list-style: none; position: relative; margin: 0px; padding: 0px; float: left;">
                <a rel="nofollow"
                   href="/konto/logowanie.php?redirect=%2Fnotes%2Fdodaj-oferte%2F1530727104"
                   class="toplevel" style="display: block; outline: none; float: left;">
                    Zapisz
                    w notesie
                </a>
            </li>
            <li
                style="display: block; list-style: none; position: relative; margin: 0px; padding: 0px; float: left;">
                <a title="Poleć ofertę" href="#"
                   class="toplevel"
                   style="display: block; outline: none; float: left;">
                    Poleć
                </a>
            </li>
            <li
                style="display: block; list-style: none; position: relative; margin: 0px; padding: 0px; float: left;">
                <a title="Zgłoś błąd" href="#"
                   class="toplevel" style="display: block; outline: none; float: left;">
                    Zgłoś
                    błąd
                </a>
            </li>
        </ul>
    </div>
    <div class="sprite2 right"></div>
    <div class="clear"></div>
</div>
<div class="header">
    <span>Mieszkanie na {OfferDetailsOfferKindText} w nowej inwestycji, woj.pomorskie</span>
    <h1>
        <a href="/inwestycja/stacja-nowy-gdansk-gdansk,6127">Stacja Nowy Gdańsk</a>,
        {PropertyAddress.City}, Jasień, {PropertyAddress.StreetName}
    </h1>
    <h3>Cena: {PropertyPrice.TotalGrossPrice} </h3>
    <div>
        <div class="bb-ad-outer text-a-d clear-ad-margin" style="width: auto;"
             id="sas_2_1_11#0.7828182051485097">
            &nbsp;
        </div>
    </div>
    <h5>
        Pow.: 40,23 m² , liczba pokoi: 2
    </h5>
    <div class="investmentDeveloperLink">
        <div class="bb-ad-outer text-a-d clear-ad-margin" style="width: auto;"
             id="sas_2_2_11#0.31337757080802064">
            &nbsp;
        </div>
    </div>
    <div class="promotionPoints" id="1530727104_js">
        <a href="/podbicie/1530727104">
            <div class="promotionArrow">
                <img alt="Podbij" title="Podbij"
                     class="iconCustom iconPropertyPromotion15x15"
                     src="https://staticoferty.net.pl/t.gif" width="15" height="15">
            </div>
            <div class="promotionPointsInfo">45pkt.</div>
        </a>
    </div>
    <div class="clear"></div>
</div>
<div class="param">
    <dl>
        <dt>Deweloper:</dt>
        <dd>
            <a class="linkMain"
               href="/deweloper/robyg_stacja_nowy_gdansk_gdansk_jasien,38899">
                Robyg Stacja Nowy
                Gdańsk, Gdańsk-Jasień
            </a>
        </dd>
        <dt>Inwestycja:</dt>
        <dd>
            <a class="linkMain" href="/inwestycja/stacja-nowy-gdansk-gdansk,6127">
                Stacja Nowy
                Gdańsk
            </a>
        </dd>
        <dt>
            <span id="name_ad_mortgage_link_2"></span>
        </dt>
        <dd>
            <div class="bb-ad-outer text-a-d clear-ad-margin" style="width: auto;"
                 id="sas_2_3_11#0.14125737383159565">
                &nbsp;
            </div>
        </dd>
        <dt>Cena za m²:</dt>
        <dd>
            {PropertyPrice.PricePerMeter}
        </dd>
        <dt>Powierzchnia użytkowa:</dt>
        <dd>
            {PropertyDetails.Area} m²
        </dd>
        <dt>Liczba pokoi:</dt>
        <dd>
            {PropertyDetails.NumberOfRooms}
        </dd>
        <dt>Typ budynku:</dt>
        <dd>
            {PropertyDetails.BuldingType}
        </dd>
        <dt>Liczba pięter:</dt>
        <dd>
            {PropertyDetails.NumberOfFloors}
        </dd>
        <dt>Rok budowy:</dt>
        <dd>
            {PropertyDetails.YearOfConstruction}
        </dd>
        <dt>Piętro:</dt>
        <dd>
            {PropertyDetails.FloorNumber}
        </dd>
        <dt>Winda:</dt>
        <dd>
            {PropertyFeatures.HasElevator(Tak|Nie)}
        </dd>

        <dt>Piwnica:</dt>
        <dd>
            {PropertyFeatures.HasBasementArea(Tak|Nie)}
        </dd>
        <dt>Balkon:</dt>
        <dd>
            {PropertyFeatures.HasBalcony(Tak|Nie)}
        </dd>
        <dt>Powierzchnia tarasu:</dt>
        <dd>
            {PropertyFeatures.BalconyArea}
        </dd>

        <dt>Powierzchnia ogródka:</dt>
        <dd>
            {PropertyFeatures.GardenArea}
        </dd>
        <dt>Miejsca parkingowe:</dt>
        <dd>
            {PropertyFeatures.ParkingPlaces}
        </dd>
        <dt>Rynek pierwotny:</dt>
        <dd>
            {PropertyFeatures.IsPrimaryMarket(Tak|Nie)}
        </dd>
        <dt>
            Województwo :
        </dt>
        <dd>
            <a href="https://www.oferty.net/rss/mieszkania,pomorskie">
                {PropertyAddress.District}
                <img class="sprite iconRssS" src="https://staticoferty.net.pl/t.gif" width="15"
                     height="15" alt="">
            </a>
        </dd>
        <dt class="last">Lokalizacja:</dt>
        <dd class="last">
            <a href="https://www.oferty.net/rss/mieszkania,gdansk">
                Gdańsk
                <img class="sprite iconRssS" src="https://staticoferty.net.pl/t.gif" width="15"
                     height="15" alt="">
            </a>
        </dd>
    </dl>
</div>
<div id="descriptionContent" class="descriptionContent">
    <label>
    </label>
    <div class="description" id="description">
        {RawDescription}
    </div>
    <div class="baseParam">
        <div><b>Data dodania:</b> {OfferDetailsCreationDateTime}</div>
        <div><b>Data aktualizacji:</b> {OfferDetailsLastUpdateDateTime}</div>
        <div><b>Numer oferty:</b> NET-G3_1M01</div>
        <div>
            <b>Link do oferty:</b>
            <a class="linkBlack"
               href="https://www.oferty.net/mieszkanie-na-sprzedaz-ul-lawendowe-wzgorza-gdansk-jasien-40m2-2-pokoje-bd,1530727104">
                {OfferDetails.Url}
            </a>
        </div>
        <div><b>Liczba wyświetleń ogłoszenia:</b> 1779</div>
        <div class="clear"></div>
    </div>
</div>
<div class="bb-ad-outer clear-ad-margin" style="width: 470px;"
     id="sas_2_8_19#0.0966913014709303">
    &nbsp;
</div>
<div class="windowGray">
    <div class="windowTitle">
        <div class="left">
            Biuro sprzedaży
            <div class="right"></div>
        </div>
    </div>
    <div class="windowContent ">
        <div class="ownerInformationCard">
            <div class="companyLogo">
                <a href="https://www.oferty.net/inwestycja/stacja-nowy-gdansk-gdansk,6127">
                    <img
                        alt="Biuro sprzedaży" src="https://staticoferty.net.pl/t.gif"
                        style="width: 100px; height: 60px"
                        data-original="https://img1.staticoferty.net.pl/thumbnail/aHR0cDovL21lZGlhLmRvbXkucGwvaW1nL2xvZ28vMzg4OTk=/100/60/2/thumbnail.png"
                        class="lazy">
                </a>
            </div>
            <div class="propertyInfo">
                <span class="propertyCompanyName">
                    <a class="linkMain"
                       href="https://www.oferty.net/inwestycja/stacja-nowy-gdansk-gdansk,6127">
                        {OfferDetails.SellerContact.Name}
                    </a>
                </span>
                <span class="propertyCompanyPhones">
                    <span class="showPhonesText"
                          onclick="advert.showPhone($('.propertyCompanyPhones .showPhonesText'))">
                        <span class="covered-contact">
                            <span class="phonesIcon"></span>58 333 1X XX
                            <a
                                class="showPhonesLink">
                                &lt;&lt; pokaż telefon
                            </a>
                            <br>
                        </span>
                        <span style="display: none;" class="visible-contact">
                            <span class="phonesIcon"></span>{OfferDetails.SellerContact.Telephone}<br>
                        </span>
                    </span>
                </span>
                <span class="selfAdvertisement" style="display: none">
                    Powiedz, że znalazłeś tę ofertę na Oferty.net
                </span>
            </div>
            <div class="clear"></div>
            <div class="propertyOffice">
                Godziny pracy biura:
                PN-PT 10-18
                Sob 10-14
                <div class="clear"></div>
            </div>
            <div class="ownerInformationButton">
                <input type="submit" name="commit" value="Kontakt" id="openContactLayer6f619"
                       class="submitKeySmall">
            </div>
            <span class="clear"></span>
        </div>
    </div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
</div>
</div>
</body>

</html>